HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## specific files
infra/instances.txt
infra/mongoUrl.txt
infra/.terraform/*
infra/terraform.tfstate.backup
infra/terraform.tfstate
infra/appUrl.txt


